<div class="relative group">
  <%= content %>
  <div
    class="
      hidden absolute <%= position_class %> z-20 px-2 py-1 text-xs
      transition bg-inverse-surface rounded opacity-0 whitespace-nowrap text-gray-50
      group-hover:opacity-100 group-hover:block
    "
  >
    <%= @tooltip %>
  </div>
</div>
