<div
  class="
    fixed bottom-5 left-5 right-5 flex items-center sm:w-full sm:max-w-xs p-4
    text-gray-300 bg-gray-800 rounded shadow-md dark:text-gray-800
    dark:bg-primary-50
  "
  role="alert"
  data-controller="snackbar"
>
  <div class="text-sm"><%= @message %></div>
  <button
    type="button"
    class="
      ms-auto -mx-2.5 -my-3 relative rounded-full text-current p-2 hover:bg-gray-600
      dark:hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-current
      focus:ring-offset-2
    "
    data-action="snackbar#close"
  >
    <span class="sr-only">Close</span>
    <%= inline_svg_tag("icons/x-mark.svg") %>
  </button>
</div>
