<%= render(PlainTooltipComponent.new(tooltip: "Delete")) do %>
  <%= button_tag type: 'button', class: 'standard-icon-button', data: { action: "delete#deleteScale" } do %>
    <span class="sr-only">Delete</span>
    <%= inline_svg_tag("icons/trash.svg") %>
  <% end %>
  <div class="hidden" data-delete-target="snackbar">
    <%= render(SnackbarComponent.new(message: "Lorem Ipsum", invoke_on_connect: false)) %>
  </div>
<% end %>
