<tr class="odd:bg-gray-50">
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
    <%= scale.mode_number %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= scale.scale %></td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= scale.common_name %></td>
</tr>
