<div class=" border-2 shadow-md rounded-md border-blue-500 p-4 flex flex-col gap-2">
  <div class="text-lg font-medium"><%= scale.common_name %></div>
  <div><%= render(DegreesScaleComponent.new(scale: scale, chromatic_scale: chromatic_scale)) %></div>
</div>