<div id="<%= dom_id scale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mode number:</strong>
    <%= scale.mode_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scale:</strong>
    <%= scale.scale %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Common name:</strong>
    <%= scale.common_name %>
  </p>
</div>
