<tr class="odd:bg-gray-50">
  <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= scale.common_name %></td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= render(DegreesScaleComponent.new(scale: scale, chromatic_scale: chromatic_scale)) %></td>
</tr>
