<div class="flex border divide-x rounded-full border-outline">

  <% @waves.each do |k, v| %>
    <div class="w-full">
      <%= @form.radio_button :wave, k, id: "#{k}-wave", class: "hidden peer" %>
      <%= @form.label(:wave,
                  for: "#{k}-wave",
                  class:
                    unselected_label_class_names(k)) do %>
        <%- inline_svg_tag("icons/#{k}-wave.svg", class: "pe-2") + v %>
      <% end %>

      <%= @form.label(:wave,
                  for: "#{k}-wave",
                  class:
                    selected_label_class_names(k)) do %>
        <%- inline_svg_tag("icons/check.svg", class: "pe-2") + v %>
      <% end %>
    </div>

  <% end %>

</div>
