<div class="relative group">
  <%= content %>
  <div
    class="
      absolute <%= position_class %> z-20 w-80 px-4 pt-3 pb-2 text-sm
      hidden text-on-surface-variant transition shadow opacity-0 bg-surface-container
      rounded-xl group-hover:opacity-100 group-hover:block
    "
  >
    <% if @title %>
      <h3 class="font-medium mb-0.5"><%= @title %></h3>
    <% end %>
    <%= tooltip %>
  </div>
</div>
