<nav
  class="fixed top-0 z-20 w-full transition bg-background start-0"
  data-controller="navbar"
  data-action="scroll@window->navbar#waterfall"
  data-navbar-waterfall-class="!bg-surface-container"
>
  <div class="pl-4 pr-3 mx-auto max-w-screen-2xl sm:px-8">
    <div class="relative flex items-center justify-between h-16">
      <h1 class="text-xl font-normal">
        <%= t "app_name" %>
      </h1>
      <div class="flex items-center justify-end">
        <%= render "pins-filter" %>
        <%= render "settings" %>
      </div>
    </div>
  </div>
</nav>
