<div data-controller="pins-filter" data-pins-filter-pin-outlet=".scale-outlet">
  <label for="pinsFilter" class="flex items-center cursor-pointer select-none">
    <div class="relative">
      <input
        type="checkbox"
        id="pinsFilter"
        class="sr-only peer"
        data-action="pins-filter#toggle"
        data-pins-filter-target="checkbox"
      />
      <div
        class="
          block w-10 h-5 transition rounded-full bg-primary-900
          peer-checked:bg-primary-100
        "
      ></div>
      <div
        class="
          absolute flex items-center justify-center w-8 h-8 text-white transition-all
          duration-300 rotate-45 rounded-full shadow-md bg-primary-600 -left-3 -top-1.5
          peer-checked:translate-x-full peer-checked:bg-white
          peer-checked:text-primary-600 shadow-primary-800 peer-checked:rotate-0
        "
      >
        <span class="text-current">
          <%= inline_svg_tag("icons/pin.svg") %>
        </span>
      </div>
    </div>
  </label>
</div>
