<%= render(PlainTooltipComponent.new(tooltip: t('.tooltip'), position: 'bottom')) do %>
  <div
    data-controller="pins-filter"
    data-pins-filter-pin-outlet=".scale-outlet"
    class="px-2"
  >
    <label for="pinsFilter" class="flex items-center cursor-pointer select-none">
      <div class="relative">
        <input
          type="checkbox"
          id="pinsFilter"
          class="sr-only peer"
          data-action="pins-filter#toggle"
          data-pins-filter-target="checkbox"
        />
        <div
          class="
            block w-[52px] h-8 transition rounded-full bg-surface-container-highest
            peer-checked:bg-primary border-outline border-2 peer-checked:border-primary
          "
        ></div>
        <div
          class="
            absolute flex items-center justify-center w-6 h-6 transition-all rotate-45
            rounded-full bg-outline left-1 top-1 text-surface-container-highest
            hover:bg-on-surface-variant hover:ring-8 focus:ring-8
            hover:ring-on-surface/[.08] focus:ring-on-surface/[.12]
            active:ring-on-surface/[.16] active:w-7 active:h-7 active:top-0.5
            active:left-0.5 peer-checked:translate-x-full peer-checked:rotate-0
            peer-checked:top-1 peer-checked:-start-0 peer-checked:bg-on-primary
            peer-checked:text-on-primary-container peer-checked:hover:bg-primary-container
            peer-checked:hover:text-on-primary-container
            peer-checked:hover:ring-primary/[.08] peer-checked:focus:ring-primary/[.12]
            peer-checked:active:ring-primary/[.16] peer-checked:active:top-0.5
            peer-checked:active:-start-1.5
          "
        >
          <%= inline_svg_tag("icons/pin.svg") %>
        </div>
      </div>
    </label>
  </div>

<% end %>
